@using CampusConnect.Models
@using Microsoft.AspNetCore.Html
﻿@using Microsoft.AspNetCore.Identity
@model SearchUsers
@inject UserManager<ApplicationUser> UserManager

@{
    var instituicoes = ViewData["Instituicoes"] as List<string>;
    var instituicoesPadrao = new[] { "UNESC", "CASTELO BRANCO", "IFES", "SENAI" };
}

<div class="container mt-4 w-100 shadow-lg p-1 px-3">

    <h2 class="text-center mb-5">Fazer chamada</h2>
    <form>
        <div class="input-group flex-nowrap mb-3">
            <div class="d-flex flex-column flex-md-row w-100">
                <div class="d-flex flex-column flex-sm-row mb-2 mb-md-0">
                    <select class="form-select me-0 me-sm-2 mb-2 mb-sm-0" asp-for="Instituicao" onchange="this.form.submit()">
                        <option value="">Todas as instituições</option>

                        @foreach (var instituicao in instituicoesPadrao)
                        {
                            <option value="@instituicao">@instituicao</option>
                        }

                        @foreach (var instituicao in instituicoes)
                        {
                            @if (!instituicoesPadrao.Contains(instituicao))
                            {
                                <option value="@instituicao">@instituicao.ToUpper()</option>
                            }
                        }
                    </select>
                    <select class="form-select me-0 me-sm-2 mb-2 mb-sm-0" asp-for="Cidade" onchange="this.form.submit()">
                        <option value="">Todas as cidades</option>
                        <option value="PANCAS">PANCAS</option>
                        <option value="LAGINHA">LAGINHA</option>
                        <option value="VILA VERDE">VILA VERDE</option>
                    </select>
                    <select class="form-select me-0 me-sm-2 mb-2 mb-sm-0" asp-for="Rota" onchange="this.form.submit()">
                        <option value="">Todas as rotas</option>
                        <option value="UNESC">UNESC</option>
                        <option value="CASTELO/CENTRO/IFES">CASTELO/CENTRO/IFES</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <form method="post" action="/Report/GenerateReport">
        <input type="hidden" name="rota" value="@Model.Rota" />
        <input type="hidden" name="cidade" value="@Model.Cidade" />
        <input type="hidden" name="instituicao" value="@Model.Instituicao" />
        <table class="table table-striped-sm" style="width:100%">
            <thead class="shadow-sm">
                <tr>
                    <th>Nome</th>
                    <th>Instituição</th>
                    <th class="d-none d-md-table-cell">Cidade</th>
                    <th class="d-none d-md-table-cell">Curso</th>
                    <th class="d-none d-md-table-cell">Telefone</th>
                    <th class="d-none d-md-table-cell">Email</th>
                    <th style="width:5px"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.Users.Count; i++)
                {
                    var user = ViewBag.Users[i];
                    <tr>
                        <td>@(user.Nome + " " + user.Sobrenome)</td>
                        <td>@user.Instituicao.ToUpper()</td>
                        <td class="d-none d-md-table-cell">@user.Cidade</td>
                        <td class="d-none d-md-table-cell">@user.Curso</td>
                        <td class="d-none d-md-table-cell">@user.PhoneNumber</td>
                        <td class="d-none d-md-table-cell">@user.Email</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault_@user.Id" onchange="updateHiddenField(@i)">
                                <input type="hidden" name="attendanceList[@i].Presente" value="false" />
                                <input type="hidden" name="attendanceList[@i].Nome" value="@user.Nome" />
                                <input type="hidden" name="attendanceList[@i].Instituicao" value="@user.Instituicao" />
                                <input type="hidden" name="attendanceList[@i].Cidade" value="@user.Cidade" />
                                <input type="hidden" name="attendanceList[@i].Curso" value="@user.Curso" />
                                <input type="hidden" name="attendanceList[@i].Telefone" value="@user.PhoneNumber" />
                                <input type="hidden" name="attendanceList[@i].Email" value="@user.Email" />
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-center mb-2 w-100">
            <button class="btn btn-success" type="submit">Gerar relatório</button>
        </div>
    </form>
</div>

<script>
    function updateHiddenField(index) {
        const checkbox = document.getElementById(`flexSwitchCheckDefault_${index}`);
        const hiddenInput = document.querySelector(`input[name="attendanceList[${index}].Presente"]`);
        hiddenInput.value = checkbox.checked ? "true" : "false";
    }
</script>



