@using CampusConnect.Models
@using Microsoft.AspNetCore.Html
﻿@using Microsoft.AspNetCore.Identity
@model SearchUsers
@inject UserManager<ApplicationUser> UserManager

@{
    var instituicoes = ViewData["Instituicoes"] as List<string>;
    var instituicoesPadrao = new[] { "UNESC", "CASTELO BRANCO", "IFES", "SENAI" };
}

<div class="container mt-4 w-100 shadow-lg p-1 px-3">

    <h2 class="text-center mb-5">ALUNOS</h2>
    <form>
        <div class="input-group flex-nowrap mb-3">
            <div class="d-flex flex-column flex-md-row w-100">
                <div class="d-flex flex-column flex-sm-row mb-2 mb-md-0">
                    <select class="form-select me-0 me-sm-2 mb-2 mb-sm-0" asp-for="Instituicao" onchange="this.form.submit()">
                        <option value="">Todas as instituições</option>

                        @foreach (var instituicao in instituicoesPadrao)
                        {
                            <option value="@instituicao">@instituicao</option>
                        }
                        @foreach (var instituicao in instituicoes)
                        {
                            @if (!instituicoesPadrao.Contains(instituicao))
                            {
                                <option value="@instituicao">@instituicao.ToUpper()</option>
                            }
                        }                      
                    </select>
                    <select class="form-select me-0 me-sm-2 mb-2 mb-sm-0" asp-for="Cidade" onchange="this.form.submit()">
                        <option value="">Todas as cidades</option>
                        <option value="PANCAS">PANCAS</option>
                        <option value="LAGINHA">LAGINHA</option>
                        <option value="VILA VERDE">VILA VERDE</option>
                    </select>
                    <select class="form-select me-0 me-sm-2 mb-2 mb-sm-0" asp-for="Rota" onchange="this.form.submit()">
                        <option value="">Todas as rotas</option>
                        <option value="UNESC">UNESC</option>
                        <option value="CASTELO/CENTRO/IFES">CASTELO/CENTRO/IFES</option>
                    </select>
                </div>
                <div class="d-flex ms-md-auto" role="search">
                    <input id="inputSearch" class="form-control me-2" type="search" name="search" asp-for="Search" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-success" type="submit">PESQUISAR</button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped-sm w-100">
        <thead class="shadow-sm">
            <tr>
                <th>NOME</th>
                <th class="d-none d-md-table-cell">INSTITUIÇÃO</th>
                <th class="d-none d-md-table-cell">CIDADE</th>
                <th class="d-none d-md-table-cell">TELEFONE</th>
                <th class="d-none d-md-table-cell">EMAIL</th>
                <th style="width:5px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ViewBag.Users)
            {
                <tr>
                    <td>
                        <!-- Nome e instituição aparecem no mobile -->
                        <div class="d-flex flex-column">
                            <!-- Nome para mobile -->
                            <span class="fw-bold fs-5 d-md-none">@user.Nome @user.Sobrenome</span>

                            <!-- Nome para desktop -->
                            <span class="d-none d-md-block">@user.Nome @user.Sobrenome</span>

                            <!-- Instituição, cidade e curso no mobile -->
                            <div class="d-md-none text-muted small">
                                <span>@user.Instituicao.ToUpper()</span>,
                                <span>@user.Cidade</span>,
                                <span>@user.Curso</span>
                            </div>
                        </div>
                    </td>

                    <!-- Instituição para desktop -->
                    <td class="d-none d-md-table-cell align-middle">@user.Instituicao.ToUpper()</td>
                    <!-- Cidade para desktop -->
                    <td class="d-none d-md-table-cell align-middle">@user.Cidade</td>
                    <!-- Telefone para desktop -->
                    <td class="d-none d-md-table-cell align-middle">@user.PhoneNumber</td>
                    <!-- Email para desktop -->
                    <td class="d-none d-md-table-cell align-middle">@user.Email</td>

                    <!-- Botões de info e delete -->
                    <td class="align-middle text-end">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal"
                                    data-bs-target="#detailsModal-@user.Id">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>

                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-@user.Id">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>

                <!-- Modal details -->
                <div class="modal fade" id="detailsModal-@user.Id" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">DETALHES DA CONTA:<br /> <strong>@user.Nome @user.Sobrenome</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Classe:</div>
                                    <div class="col-sm-8 d-flex align-items-center">
                                        <span class="me-2">@ViewBag.UserRoles[user.Id]</span>
                                        <button type="button" class="btn btn-link p-0 m-0" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#roleModal-@user.Id">
                                            ALTERAR
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Nome</div>
                                    <div class="col-sm-8">@user.Nome</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Sobrenome</div>
                                    <div class="col-sm-8">@user.Sobrenome</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Telefone</div>
                                    <div class="col-sm-8">@user.PhoneNumber</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Cidade</div>
                                    <div class="col-sm-8">@user.Cidade</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Rota</div>
                                    <div class="col-sm-8">@user.Rota</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Instituição</div>
                                    <div class="col-sm-8">@user.Instituicao.ToUpper()</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Curso</div>
                                    <div class="col-sm-8">@user.Curso</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Matrícula</div>
                                    <div class="col-sm-8">@user.Matricula</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Período</div>
                                    <div class="col-sm-8">@user.Periodo</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4 font-weight-bold">Email</div>
                                    <div class="col-sm-8">@user.Email</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="roleModal-@user.Id" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">EDITAR CLASSE</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" asp-controller="Users" asp-action="EditRole">
                                    <input type="hidden" value="@user.Id" name="id" />
                                    <label>Selecione uma nova classe</label>
                                    <select class="form-select mb-2" name="newRole" asp-items="@(new SelectList(ViewBag.AllRoles, "Value", "Text"))">
                                    </select>

                                    <button type="submit" class="btn btn-primary">ALTERAR</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal delete -->
                <div class="modal fade" id="deleteModal-@user.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">DELETAR CONTA?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <strong>@user.Nome @user.Sobrenome</strong>
                                <p>Tem certeza que deseja deletar esta conta? Esta ação não pode ser desfeita.</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" role="button" asp-controller="Users" asp-action="DeleteAccount" asp-route-id="@user.Id">
                                    DELETAR
                                </a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                string active = "";
                if (i == ViewBag.PageIndex) active = "active";
                <li class="page-item @active">
                    <a class="page-link" asp-route-pageIndex="@i" asp-route-instituicao="@Model.Instituicao" asp-route-cidade="@Model.Cidade" asp-route-rota="@Model.Rota">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>



